.kinomeTree {
  position: absolute;
  width: 100%;
  height: 100%;
}

.keyContainer{
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
}

.branchKey{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
